#root, .App, .ant-layout {
  height: 100%;
}

.App {
  h2 {
    margin: 0;
  }

  .Layout {
    padding: 24px 0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    max-width: 1440px;
    margin: auto;
  }

  .ant-layout {
    background: #fff;
  }

  .ant-layout-header {
    background: #f0f2f5;
    padding: 0 64px;
  }

  .Logo {
    /*display: grid;
    grid-template-columns: 1fr 20fr;

    h1 {
      text-align: center;
      font-weight: 700;
      display: inline-block;
      margin-left: -45px;
    }*/

    img {
      max-width: 200px;
    }
  }

  .ant-switch {
    margin: 20px 0;

    svg {
      font-size: 14px;
    }
  }

  .SpeechSection {
    padding: 0 20px;

    .ControlBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_Switch {
        display: flex;
        align-items: center;
      }

      &_Clear {
        font-size: 24px;
      }

      .Counter {
        margin-left: 4px;
        font-size: 16px;
        line-height: 48px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        .RecordingDot {
          background: rgba(255, 82, 82, 1);
          box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
          animation: pulse-red 2s infinite;
          border-radius: 50%;
          margin: 10px;
          height: 15px;
          width: 15px;
          transform: scale(1);
          display: inline-block;
        }

        @keyframes pulse-red {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
          }

          70% {
            transform: scale(1);
            box-shadow: 0 0 0 8px rgba(255, 82, 82, 0);
          }

          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
          }
        }
      }
    }

    .UndoBlock_Icon, .ControlBlock_Clear {
      color: #bebebe;
      transition: ease 0.2s;

      &:hover {
        color: #9e9e9e;
      }
    }

    .UndoBlock {
      display: flex;
      justify-content: flex-end;
      padding: 20px 10px 5px;

      &_Icon {
        font-size: 18px;
      }
    }

    .RecognitionBlock {
      padding: 12px 0;
      background-color: #e4f1ff;
      border-radius: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .Scrollable {
        max-height: 150px;
      }

      .ant-card-body {
        //overflow-y: auto;
        //max-height: 150px;
        padding: 0;
      }

      svg {
        font-size: 20px;
      }

      h2 {
        padding: 12px 24px;
      }

      .WhiteListWord {
        display: inline;
        color: #009dff;
        border-radius: 5px;
        line-height: 25px;
        height: 30px;
      }

      .BlackListWord {
        display: inline;
        //background: #f05875;
        color: #f05875;
        border-radius: 5px;
        line-height: 25px;
        height: 30px;
        //padding: 0 2px;
        //margin: 0 2px;
      }

      .Text__italic {
        color: #868686;
      }
    }

    .TextBlock {
      background: #ffffff;
      border-radius: 15px;
      overflow-y: auto;
      max-height: 420px;
      padding-right: 6px;

      .Text {
        padding: 10px 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background: #f0f2f5;
        border-radius: 10px;
        overflow-y: auto;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 4px;
        }

        .WhiteListWord {
          display: inline;
          color: #0084ff;
        }

        .BlackListWord {
          display: inline;
          color: #f05875;
        }

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background: #dfdfdf;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #c5c5c5;
        }
      }
    }

    .TextBlock, .Scrollable {
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #eaeaea;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        margin: 0 30px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #c5c5c5;
      }
    }

    .Text {
      font-size: 20px;
      overflow-y: auto;
      //max-height: 150px;
      padding: 0 20px;

      p {
        display: inline;
        margin: 0;
      }

      &__italic {
        display: inline;
      }
    }
  }

  .ListSection {
    padding: 0 20px;

    .WhiteList {
      .ant-progress-bg {
        background-image: linear-gradient(to right, rgb(16, 142, 233) 0%, rgb(135, 208, 104) 100%);
      }
    }

    .BlackList {
      .ant-progress-bg {
        background-image: linear-gradient(to right, rgb(233, 153, 16) 0%, rgb(199, 31, 31) 100%);
      }
    }

    .ant-card {
      border-radius: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      margin-top: 18px;

      .BarChartList {
        max-height: 220px;
        overflow-y: auto;
        padding-right: 10px;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: #dfdfdf;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #c5c5c5;
        }
      }

      .BarChart {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
      }

      .BarChartName {
        font-size: 16px;
        display: inline-block;
        height: 16px;
        line-height: 16px;
      }

      .ant-form {
        margin-top: 14px;
        min-width: 150px;

        .AddTag {
          margin-bottom: 0;
        }
      }

      .ant-skeleton {
        min-width: 150px;
      }

      .CardTitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h2 {
          line-height: 30px;
        }

        svg {
          font-size: 18px;
          transition: ease 0.2s;
          color: #8e8e8e;

          &:hover {
            color: #7c7c7c;
          }
        }

        .svg-inline--fa.fa-w-14 {
          width: 1.125em;
        }
      }

      .Tag {
        margin-top: 6px;
        font-size: 16px;
        border-radius: 15px;
        padding: 2px 6px;
        line-height: 18px;
        height: 26px;
      }
    }
  }
}
